<!DOCTYPE html>
<html lang="de">

	<head>

		<meta charset="utf-8">

		{% block title %}
		{% endblock %}

		{% include "include_css.html" %}
		{% block css %}
		{% endblock %}

		{% include "include_js.html" %}
		{% block js %}
		{% endblock %}

		{% block head %}
		{% endblock %}

	</head>


	<body>

		<div id="wrapper">

			{% include "sidebar.hmtl" %}

			<div id="content-wrapper" class="d-flex flex-column">

				<div id="content">

					<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
						<ul class="navbar-nav ml-auto">

							<li class="nav-item">
								<a class="nav-link">
									Profil
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link">
									Nachrichten
								</a>
							</li>

						</ul>
					</nav>

					<div class="container-fluid">
						{% block content %}
						{% endblock %}
					</div>

				</div>
			</div>
		</div>
	</body>
</html>