<!DOCTYPE html>
<html lang="de">

	<head>

		<meta charset="utf-8">

		{% block title %}
		{% endblock %}

		{% include "include_css.html" %}
		{% block css %}
		{% endblock %}

		{% include "include_js.html" %}
		{% block js %}
		{% endblock %}

		{% block head %}
		{% endblock %}

	</head>


	<body>

		<div id="wrapper">

			{% include "sidebar.html" %}

			<div id="content-wrapper" class="d-flex flex-column">

				<div id="content">

					{% include "topbar.html" %}

					<div class="container-fluid">
						{% block content %}
						{% endblock %}
					</div>

				</div>
			</div>
		</div>
	</body>
</html>