<!--
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-easing/jquery.easing.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/sb-admin-2.min.js"></script>-->

{% load static %}

<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-easing/jquery.easing.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/fontawesome/all.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/sb-admin-2.min.js' %}"></script>